/*Universal classes*/

.container {
    width: 1105px;
    padding-top: 80px;
    margin: 0 auto;
}

.container-2 {
    width: 1130px;
    margin: 0 auto;
}

.universal-color-text {
    color: #18CFAB;
    font-weight: bold;
}

.universal-button {
    background-color: #18CFAB;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;

    padding: 18px 15px;
    box-sizing: border-box;
    margin: 0 13px;
    position: relative;

    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;

    z-index: 1;
}

.universal-button::before {
    content: "";
    background: white;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 4px;
    top: -5px;
    left: 0;

    z-index: -1;
}

.universal-title {
    width: max-content;
    margin: 0 auto 100px;
    position: relative;


    text-transform: capitalize;
    font-size: 36px;
    font-weight: normal;
}

.universal-title::before, .universal-title::after {
    content: "";
    height: 2px;
    width: 80px;
    background-color: #18CFAB;

    position: absolute;
}

.universal-title::before {
    top: 60px;
    left: 30%;
}

.universal-title::after {
    top: 64px;
    left: 35%;
}

.universal-list-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.universal-list-item {
    height: 70px;
    padding: 18px 35px;
    box-sizing:  border-box;
    background-color: #F8FCFE;
    color: #717171;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;

    display: flex;
    align-items: center;
}

.universal-list-item:hover { border: 1px solid #18CFAB; }

.universal-link {
    text-decoration: none;
    text-transform: capitalize;
}

.universal-active {
    background-color: #18CFAB;
    color: white !important;
    position: relative;
}

.universal-active::before {
    content: "";
    width: 22px;
    height: 12px;
    position: absolute;
    top: 100%;
    left: 45%;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    background-color: #18CFAB;
}

/*Header block*/

.header-block {
    background-image: url("../img/background/section-1(header).jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    padding-bottom: 250px;
}

.header-block::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color:  rgba(94, 93, 88, 0.3);
    position: absolute;
    z-index: -1;
}

.logo {
    color: white;
    text-decoration: none;

    padding: 37px 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

.logo::before {
    content: 'H';

    clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #18CFAB;
    padding: 18px;
    margin-right: 5px;

    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: rgba(94, 93, 88, 0.6);
}

.nav-bar-menu { display: flex; }

.nav-bar-link {
    padding: 47px 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.nav-bar-link-search {
    padding: 47px 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.nav-bar-item {
    padding: 48px 0;
    box-sizing: border-box;
}

.nav-bar-active { border-bottom: 1px solid #18CFAB; }

.nav-bar-item:last-child:hover { border-bottom: none; }

.nav-bar-link:hover {
    color: #18CFAB;
    border-bottom: 1px solid #18CFAB;
}

.header-section {
    padding-top: 182px;
    margin: 0 0;
    text-align: center;
}

.header-title {
    color: white;
    text-transform: uppercase;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
}

.header-title-bold {
    color: white;
    text-transform: uppercase;

    margin-top: 22px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
}

.header-subtitle {
    color: rgba(255, 255, 255, 0.6);
    text-transform: capitalize;

    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}


.header-buttons-block {
    margin-top: 150px;
    text-align: center;
}

.button-link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: #00CBF6;
    border-radius: 4px;

    padding: 18px 15px;
    box-sizing: border-box;
    margin: 0 13px;
    position: relative;

    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;

    z-index: 1;
}

.button-link::before {
    content: "";
    background: white;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 4px;
    top: -5px;
    left: 0;

    z-index: -1;
}

/*Our advantages block*/

.our-advantages-block {
    display: flex;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    text-transform: uppercase;
    text-align: center;
}

.advantage-link {
    flex: 1 1 auto;
    text-decoration: none;
}

.advantages-block {
    background-color: #18CFAB;
    color: white;
    border-top: 3px solid white;
    padding: 95px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
}

.dark-theme {
    background-color: #1C2A33 !important;
    color: #18CFAB !important;
    border-top: 3px solid #18CFAB !important;
}

/*.advantages-icon {*/
/*    font-size: 45px;*/
/*}*/

.font-awesome { height: 80px; }

.advantages { margin-top: 50px; }

/*Our services block*/

.our-services-block {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.services-filter-block { padding-bottom: 112px; }

.service-list-item { flex: 1 1 auto; }

.our-services-link {
    color: #717171;
}
.universal-active .our-services-link {
    color: white;
}

.service-info-block {
    display: flex;
    justify-content: center;
    margin-top: 21px;
}

.service-info-text {
    width: 956px;
    text-align: left;
    color: #777777;
    line-height: 24px;

    margin-left: 20px;
}

.service-image {
    width: 195px;
    height: 140px;
}

/*Install block*/

.install-block {
    background-image: url("../img/background/section-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 40px;

    padding: 127px 0 141px;
    position: relative;
    z-index: 0;
}

.install-block::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.48);
    z-index: -1;
}

.install-title {
    font-size: 40px;
    text-transform: uppercase;
}

.install-subtitle { color: #D8D8D8; }


.install-button-block {
    margin-top: 67px;
    position: relative;
}



/*Amazing work block*/

.amazing-work-block {
    background-color: #F8FCFE;

    font-family: 'Montserrat', sans-serif;
    padding-top: 80px;
}

.container-for-amazing-block {
    width: 1150px;
    margin: 0 auto;
}


.amazing-filter-block { padding-bottom: 121px; }

.amazing-list-item { border: 1px solid #F0F0F0; }

.amazing-list-item-active {
    color: #18CFAB;
    border: 1px solid #18CFAB;
}

.filter-link {
    color: #717171;
}

.amazing-list-item-active .filter-link {
    color: #18CFAB;
}

.amazing-work-photos-block {
    width: 100%;
    display: grid;
    padding-top: 77px;
}

.part-photo-block{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.hidden { display: none; }

.amazing-work-photo {
    width: 100%;
    height: 209px;
    position: relative;
    z-index: 2;
}

.photo-block {
    position: relative;
    height: 209px;
}

.photo-block:hover .amazing-work-photo {
    transform: rotate3d(0, 1, 0, 360deg);
    transition: 1.5s;
    opacity: 0;
    z-index: 0;
}


.amazing-block-photo-before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-top: 3px solid #18CFAB;
    z-index: 1;
    text-align: center;
    line-height: 25px;
    padding: 40px 0 34px;
    box-sizing: border-box;
}

.before-icon {
    border-radius: 25px;
    border: 1px solid #18CFAB;
    padding: 17px;
    color: #18CFAB;
}

.clip {
    background-color: #18CFAB;
    border-radius: 25px;
    padding: 17px;
    color: white;
}

.before-title { margin-top: 24px; }

.before-subtitle {
    color: #8A8A8A;

    font-size: 12px;
    font-weight: 300;
}

.load-block {
    margin-top: 70px;
    text-align: center;
}

.loader-block {
    display: none;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
}

.loader {
    animation: loader 1.5s infinite ease-in;
    width: 50px;
    height: 50px;
    clip-path: polygon(0% 25%, 25% 0%, 75% 0, 100% 25%, 100% 75%, 75% 100%, 25% 100%, 0% 75%);
    border-top: 1px solid #18CFAB;
    border-bottom: 1px solid #18CFAB;
    border-right: 1px solid #0ecf77;
    border-left: 1px solid #0ecf77;
    padding: 35px;
    box-sizing: border-box;
}

@keyframes loader {
    0% {
        transform: scale(1);
    }
    30% {
        transform: rotate(-90deg) scale(1.5);
    }
    60% {
        box-shadow: 15px 15px 20px 35px #10cfa3;
        transform: rotate(-90deg) scale(2);
    }
    80% {
        transform: rotate(-90deg) scale(1.5);
    }
    100% {
        transform: rotate(-90deg) scale(1);
    }
}

.load-more {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: #18CFAB;
    padding: 22px;
    box-sizing: border-box;
    border-radius: 4px;

    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.fa-plus {
    margin-right: 15px;

    font-size: 19px;
    font-weight: bold;
}

/*Breaking News block*/

.breaking-news-block { font-family: 'Montserrat', sans-serif; }

.posts-block {
    padding-bottom: 121px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px 28px;

    color: #717171;
}

.post-block {
    width: max-content;
    background-color: #F8FCFE;
    border: 1px solid #F2F4F5;

    padding-bottom: 15px;
    position: relative;
}

.post-block:hover .data-block { background-color: #18CFAB; }

.post-block:hover .post-title { color: #18CFAB; }

.post-link-block {
    text-decoration: none;
    color: #717171;
}

.post-title {
    text-transform: capitalize;
    font-size: 18px;

    margin: 15px;
}

.control-panel { color: #777777; }

.post-link {
    text-decoration: none;
    color: #777777;
}

.by-admin {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 300;
    position: relative;
    padding-right: 10px;
    box-sizing: border-box;
}

.by-admin::before {
    content: "";
    position: absolute;
    top: 20%;
    right: -1px;
    width: 1px;
    height: 13px;
    background: #717171;
}

.comments {
    font-size: 14px;
    font-weight: 300;
    padding-left: 10px;
    box-sizing: border-box;
}

.data-block {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;

    padding-top: 11px;
    box-sizing: border-box;

    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    text-align: center;
    background-color: #203E38;
    color: white;
}

/*feedback block*/

.slide { display: none; }

.active-slide { display: block; }

.feedback-block {
    background-image: url("../img/background/section-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    font-family: 'Montserrat', sans-serif;
    text-align: center;

    padding: 100px 0 110px;
}

.feedback-title { color: white; }

.feedback-title::before, .feedback-title::after {
    content: "";
    height: 2px;
    width: 80px;
    background-color: #18CFAB;

    position: absolute;
}

.feedback-title::before {
    top: 60px;
    left: 43%;
}

.feedback-title::after {
    top: 64px;
    left: 47%;
}

.feedback-text {
    width: 1128px;
    margin: 168px auto 0;
    position: relative;

    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;

    color: #BBBBBB;
}

.feedback-text::before, .feedback-text::after {
    content: "\275B";
    position: absolute;
    top: -36px;
    left: 48%;
    color: #18CFAB;
    font-size: 47px;
}

.feedback-text::after { left: 50%; }

.user-name {
    margin-top: 43px;
    text-transform: uppercase;
}

.user-job {
    font-size: 14px;
    font-weight: 300;
    color: #BBBBBB;
    line-height: 27px;
}

.user-photo-block {
    width: max-content;
    margin: 44px auto 0;

    border-radius: 100px;
    background: rgba(24, 207, 171, 0.2);
    padding: 10px;
}

.user-photo { width: 165px; }

.slider-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.users-block {
    width: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.user-photo-small-block {
    width: 100%;
    height: 100%;

    border-radius: 50px;
    background: rgba(24, 207, 171, 0.2);
    padding: 5px;
    margin: 0 20px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.user-photo-small {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.active {
    transform: translateY(-20px) scale(1.2);
}

.arrow {
    color: #BBBBBB;
    border: 1px solid #BBBBBB;
    padding: 10px;
    margin: 0 33px;
    box-sizing: border-box;
    cursor: pointer;
}

.arrow:hover {
    background: #18CFAB;
    color: white;
    border: 1px solid transparent;
}

/*Gallery block*/

.gallery-block {
    height: max-content;
    font-family: 'Montserrat', sans-serif;
    color: #4E4E4E;

    padding-bottom: 80px;
}

.item {
    display: compact;
    width: 370px;
    margin-bottom: 10px;
}

.image-grid-gallery { width: 370px; }

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 370px;
    height: 465px;
}

.block-image-gallery .gallery-image{
    width: 120px;
    height: 90px;
    margin-bottom: 5px;
}

.image-blocks { position: relative; }

.block-image-gallery { position: relative; }

.block-gallery-hover {
    display: none;
    position: absolute;
    top: 0;
    bottom: 8px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.64);
    justify-content: center;
    align-items: center;
    color: white;
}

.block-gallery-hover .fas {
    padding: 8px;
    box-sizing: border-box;
    margin: 0 6px;
    background: #14B9D5;
}

.block-image-gallery:hover .block-gallery-hover{ display: flex; }

.gallery-image-first {
    width: 180px;
    height: 170px;
    margin-bottom: 5px;
}

.footer {
    text-align: center;
    padding: 43px 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    font-style: normal;
    line-height: 26px;

    background-color: #22353F;
    color: #AEAEAE;
}

.footer-uniq-text { font-weight: lighter; }